.c1{
    background-color: #011e41de;
    font-family: 'Roboto Condensed', sans-serif;
}
.c2{
    font-family: 'Roboto Condensed', sans-serif;
    color: #011e41de ;
}
.c3{
    font-family: 'Roboto Condensed', sans-serif;
    color: #011e41de ;
    text-align: center;
}